<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maygalang.sqliteexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetSavings"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SetBudget_first" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".AddIncome" />
        <activity
            android:name=".AddCategory"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".ViewExpense" />
        <activity android:name=".ViewReports" />
        <activity android:name=".ForecastBudget" />
        <activity android:name=".ViewBudget" />
        <activity
            android:name=".AddExpense"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".AddSavings"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".MenuButtons" />
        <activity android:name=".GoalsPage" />
        <activity
            android:name=".ViewGoal"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".AddGoal"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ViewGoalDetails"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".ViewSavings" />
        <activity android:name=".UseSavings" />
        <activity android:name=".LayoutInflater1" />
        <activity android:name=".ForecastBudget_Month"></activity>
    </application>

</manifest>
